* {
    box-sizing: border-box;
    white-space: nowrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: url("/images/Concentration\ Memory.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(35, 108, 169);
}

.page-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    width: 50%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3vh;
    height: 90vh;
    width: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-container>.container>h2 {
    display: flex;
    height: 5vh;
    width: 100vh;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    color: goldenrod;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif, Bold;
    font-family: 'Public Sans', sans-serif, Bold;
}

.container {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 5vh;
}

.game-board>img {
    display: grid;
    height: 25vh;
    width: 20vh;
    align-items: center;
    justify-items: center;
    border-radius: 5%;
    border-color: aliceblue;
    border-style: solid;
    border-width: 5%;
}

.game-board>img:hover {
    cursor: pointer;
}

.container>button {
    display: grid;
    height: 5vh;
    width: 20vh;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10%;
    margin: 0 auto;
    background-color: honeydew;
    font-size: 2em;
}

.container>img {
    display: grid;
    height: 65vh;
    width: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.container>button:hover {
    background-color: brown;
}

.container>button:active {
    background-color: black;
    color: white;
}